name: Hello World Self-hosted

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  hello:
    runs-on: self-hosted
    steps:
      - name: Say Hello
        run: echo "Hello World from Azure Self-hosted Runner"